<div class="wrapper">
  <div class="page-header">
    <img class="path path3" src="assets/img/path3.png" />

    <svg>
      <defs>
        <path
          d="M292,517.91s-15.55-56.18-82.16-38.13C144.29,497.54,155.58,363.16,162,313.12S224.89,15.59,387.71,4.49,515.3,133.38,499.28,174.22s-48.71,85.09,11,218.26S455,582.74,430.06,588.37,339.71,621.12,292,517.91Z"
          id="deco2"></path>
      </defs>
    </svg>
    <div class="content-center">
      <div class="container">
        <div class="row align-items-center text-left">
          <div class="col-lg-6 col-md-8 col-12 ml-auto mr-auto">
            <section class="memory-game">
              <div class="memory-card" data-animal="c.name" *ngFor="let c of cards;let index" (click)="flipCard(index)"
                [ngClass]="{'flip': c.flip}">
                <img class="front-face" src="{{c.src}}" alt="{{c.src}}" />
                <img class="back-face" src="assets/svg/rainbow.svg" alt="Rainbow" />
              </div>
            </section>
          </div>
          <div class="col-lg-6 col-md-8 col-12 ml-auto mr-auto">
            <div class="content-center brand">
              <div class="form-group">
                <input class="form-control" type="text" value="Ilosc" [(ngModel)]="cardsNumber" />
              </div>
              <button (click)="switchCards('forest')" class="btn btn-warning">
                Forest Animals 🦊
              </button>
              <button (click)="switchCards('savannah')" class="btn btn-warning">
                Savannah Animals 🐘
              </button>
              <button (click)="switchCards('farm')" class="btn btn-warning">
                Savannah Animals 🐐
              </button>

              <div class="input-group">
                <input class="form-control" placeholder="Ilosc kart" type="text" />

                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="tim-icons icon-single-copy-04"> </i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="features-1">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <span class="badge badge-warning">Insight</span>
          <h1 class="title">Full-Funnel Social Analytics</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="info info-hover">
            <div class="icon icon-primary">
              <img class="bg-blob" src="assets/img/feature-blob/primary.png" />

              <i class="tim-icons icon-user-run"></i>
            </div>
            <h4 class="info-title">Social Conversations</h4>
            <p class="description">
              Gain access to the demographics, psychographics, and location of
              unique people.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info info-hover">
            <div class="icon icon-success">
              <img class="bg-blob" src="assets/img/feature-blob/success.png" />

              <i class="tim-icons icon-atom"></i>
            </div>
            <h4 class="info-title">Analyze Performance</h4>
            <p class="description">
              Unify data from Facebook, Instagram, Twitter, LinkedIn, and
              Youtube to gain rich insights.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info info-hover">
            <div class="icon icon-warning">
              <img class="bg-blob" src="assets/img/feature-blob/warning.png" />

              <i class="tim-icons icon-gift-2"></i>
            </div>
            <h4 class="info-title">Measure Conversions</h4>
            <p class="description">
              Track actions taken on your website, understand the impact on your
              bottom line.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section about-description">
    <img class="path path4" src="assets/img/path4.png" />

    <div class="container">
      <div class="row mb-5">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Create your awesome product</h2>
          <h4 class="description">
            This is the paragraph where you can write more details about your
            project. Keep you user engaged by providing meaningful information.
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <img alt="First slide" class="d-block" src="assets/img/matthew-henry.jpg" />
        </div>
      </div>
    </div>
  </div>
  <div class="section about-pricing">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-md-10 col-12 mx-auto">
          <h1 class="title">You should be here!</h1>
          <p class="description">
            5,000 capacity venue, holding some of the latest technology lighting
            with a 24 colour laser system Amnesia is one of the islands most
            legendary clubs.
          </p>
          <div class="row">
            <div class="col-md-12 col-sm-8 mb-3">
              <div class="form-group">
                <input class="form-control" type="text" value="Full Name" />
              </div>
              <div class="form-group">
                <input class="form-control" type="email" value="Your Email" />
              </div>
              <a class="btn btn-info btn-icon btn-round" href="javascript:void(0)">
                <i class="tim-icons icon-send"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12 ml-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="card card-pricing">
                <div class="card-header bg-info">
                  <span class="badge badge-default">Starter</span>
                  <h1 class="card-title"><small>$</small> 22</h1>
                  <h5>per month</h5>
                </div>
                <div class="card-body">
                  <ul>
                    <li><i class="tim-icons icon-check-2"></i> 1000 MB</li>
                    <li><i class="tim-icons icon-email-85"></i> 3 email</li>
                    <li>
                      <i class="tim-icons icon-chart-bar-32"></i> 5 Databases
                    </li>
                    <li>
                      <i class="tim-icons icon-alert-circle-exc"></i> No Support
                    </li>
                  </ul>
                  <a class="btn btn-info mt-4" href="javascript:void(0)">
                    Get started
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card card-pricing">
                <div class="card-header bg-danger">
                  <span class="badge badge-default">Pro</span>
                  <h1 class="card-title"><small>$</small> 45</h1>
                  <h5>per month</h5>
                </div>
                <div class="card-body">
                  <ul>
                    <li><i class="tim-icons icon-check-2"></i> 2000 MB</li>
                    <li><i class="tim-icons icon-email-85"></i> 100 email</li>
                    <li>
                      <i class="tim-icons icon-chart-bar-32"></i> 10 Databases
                    </li>
                    <li>
                      <i class="tim-icons icon-alert-circle-exc"></i> Support
                    </li>
                  </ul>
                  <a class="btn btn-info mt-4" href="javascript:void(0)">
                    Get started
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="team-1">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Our Awesome Team</h2>
            <h4 class="description">
              This is the paragraph where you can write more details about your
              team. Keep you user engaged by providing meaningful information.
            </h4>
          </div>
        </div>
        <div class="row">
          <carousel [showIndicators]="false" class="carousel-team">
            <slide>
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <h1 class="title">Charlie Watson</h1>
                  </div>
                  <div class="col-md-4">
                    <img alt="First slide" class="d-block" src="assets/img/charlie.jpg" />
                  </div>
                  <div class="col-md-4">
                    <div class="wrapper">
                      <div class="category">
                        <strong>Position:</strong> Artist <br />

                        <strong>Experience:</strong> 5 years
                      </div>
                      <div class="description">
                        Artist is a term applied to a person who engages in an
                        activity deemed to be an art. An artist also may be
                        defined unofficially as "a person who expresses him- or
                        herself through a medium". He is a descriptive term
                        applied to a person who engages in an activity deemed to
                        be an art. An artist also may be defined unofficially as
                        "a person who expresses him- or herself through a
                        medium".
                      </div>
                      <div class="footer">
                        <a class="btn btn-icon btn-twitter btn-round" href="javascript:void(0)">
                          <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-icon btn-facebook btn-round" href="javascript:void(0)">
                          <i class="fab fa-facebook-square"></i>
                        </a>
                        <a class="btn btn-icon btn-dribbble btn-round" href="javascript:void(0)">
                          <i class="fab fa-dribbble"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </slide>
            <slide>
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <h1 class="title">Quavo Austen</h1>
                  </div>
                  <div class="col-md-4">
                    <img alt="First slide" class="d-block" src="assets/img/tom-klein.jpg" />
                  </div>
                  <div class="col-md-4">
                    <div class="wrapper">
                      <div class="category">
                        <strong>Position:</strong> Actor <br />

                        <strong>Experience:</strong> 1 year
                      </div>
                      <div class="description">
                        Artist is a term applied to a person who engages in an
                        activity deemed to be an art. An artist also may be
                        defined unofficially as "a person who expresses him- or
                        herself through a medium". He is a descriptive term
                        applied to a person who engages in an activity deemed to
                        be an art. An artist also may be defined unofficially as
                        "a person who expresses him- or herself through a
                        medium".
                      </div>
                      <div class="footer">
                        <a class="btn btn-icon btn-twitter btn-round" href="javascript:void(0)">
                          <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-icon btn-facebook btn-round" href="javascript:void(0)">
                          <i class="fab fa-facebook-square"></i>
                        </a>
                        <a class="btn btn-icon btn-dribbble btn-round" href="javascript:void(0)">
                          <i class="fab fa-dribbble"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </slide>
            <slide>
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <h1 class="title">Lucy</h1>
                  </div>
                  <div class="col-md-4">
                    <img alt="First slide" class="d-block" src="assets/img/lucy.jpg" />
                  </div>
                  <div class="col-md-4">
                    <div class="wrapper">
                      <div class="category">
                        <strong>Position:</strong> CEO <br />

                        <strong>Experience:</strong> 7 years
                      </div>
                      <div class="description">
                        Artist is a term applied to a person who engages in an
                        activity deemed to be an art. An artist also may be
                        defined unofficially as "a person who expresses him- or
                        herself through a medium". He is a descriptive term
                        applied to a person who engages in an activity deemed to
                        be an art. An artist also may be defined unofficially as
                        "a person who expresses him- or herself through a
                        medium".
                      </div>
                      <div class="footer">
                        <a class="btn btn-icon btn-twitter btn-round" href="javascript:void(0)">
                          <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-icon btn-facebook btn-round" href="javascript:void(0)">
                          <i class="fab fa-facebook-square"></i>
                        </a>
                        <a class="btn btn-icon btn-dribbble btn-round" href="javascript:void(0)">
                          <i class="fab fa-dribbble"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>
</div>